* {
  margin: 0;
  padding: 0;
}
//
// div {
//   display: 'flex';
// }

body {
  height: 100%;
  width: 100%;
  background-color: #69306D;
  color: #FFF9F3;
}
/* Typography */
h1 {
  font-size: 120px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: -0.055em;
}

h3{
font-family: Helvetica;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 120%;
/* or 38px */

display: flex;
align-items: center;
letter-spacing: -0.055em;
}

#root {
  height: 100vh;
  width: 100vw;
}


/* RPS */
.bigButton {
  // background-color: #733777;
  background: #FFFFFF;
  border: 8px solid #E3E3E3;
  color: #69306D;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 4px 0 #6B3670, 0 -10px 20px rgba(68, 31, 71, 0.3);
  border-radius: 32px;
  padding: 64px 0;
  width:600px;
  margin: 0 25%;
}

.gameContainer{
  width:90%;
}

.scoreKeeperNav {
  flex-flow: row;
  width: 100vw;
  align-self: flex-start;
}

.oscarScore {
  align-self: flex-start;
}

.myScore {
  align-self: flex-end;
}
